.dockerignore
node_modules
npm-debug.log
Dockerfile
.git
.gitignore
.npmrc
.nuxt
.gitpod.yml
.gitattributes
.editorconfig
.github
.vscode
dist
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
