.main-enter-active,
.main-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 50ms;
}
.main-enter,
.main-leave-to {
  opacity: 0;
}

.no-decoration {
  text-decoration: none;
}

.no-color {
  color: unset !important;
}