@use '@fontsource-variable/roboto-flex' as *;

@use 'vuetify/settings' with (
  $body-font-family: 'Roboto Flex Variable'
);

// Overwrite global vuetify styles here

.v-theme--light.v-bottom-navigation .v-btn:not(.v-btn--active) {
  // Bottom navigation buttons should be grey when not active
  color: rgba(0, 0, 0, 0.6) !important;
}

.v-text-field--prefixed.v-text-field .v-field__input {
  // No padding on text fields that have a prefix
  --v-field-padding-start: 0px;
}
